@model Resume.Models.Entities.Contact

@{
    ViewData["Title"] = "Mesajı - Sil";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<h3>Silinən məlumatları Geri qaytarmaq Mümkün deyil</h3>
<div>
    <h4>Contact</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Ad- Soyad
        </dt>
        <dd class="col-sm-10">
            @Model.NameSurname
        </dd>
        <dt class="col-sm-2">
            Başlıq
        </dt>
        <dd class="col-sm-10">
            @Model.Subject
        </dd>
        <dt class="col-sm-2">
            E-mail
        </dt>
        <dd class="col-sm-10">
            @Model.Email
        </dd>
        <dt class="col-sm-2">
            Mesaj mətni
        </dt>
        <dd class="col-sm-10">
            @Model.Message
        </dd>
        <dt class="col-sm-2">
            Daxil Edilmə Tarixi
        </dt>
        <dd class="col-sm-10">
            @Model.InsertDate.ToString("dd-MM-yyyy HH:mm")
        </dd>
    </dl>

    <form asp-action="Delete" class="form-disable">
        <input type="hidden" asp-for="ID" />
        <input id="submit" data-submit-value="GÖZLƏYİN..." type="submit" value="Sil" class="btn btn-outline-primary"> |
        <a asp-action="Index" class="btn btn-dark">Geri</a>
    </form>
</div>
