@model Resume.Models.Entities.Contact

@{
    ViewData["Title"] = "Gələn Mesaj";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="flex-row-fluid ml-lg-8 d-block" id="kt_inbox_view">
    <!--begin::Card-->
    <div class="card card-custom card-stretch">
        <!--begin::Header-->
        <div class="row">
            <a href="/Admin/Contact/Index" class="btn btn-dark" style="margin-left:10px"><i class="fas fa-arrow-circle-left"></i>Geri</a>
            <a href="/Admin/Contact/Unread/@Model.ID" class="btn btn-info" style="margin-left:10px"><i class="fas fa-envelope"></i>Oxunmadı</a>
            <a href="/Admin/Contact/Delete/@Model.ID" class="btn btn-danger" style="margin-left:10px"><i class="fas fa-trash"></i>Sil</a>
        </div>
        <div class="card-header justify-content-between py-5 h-auto">
            <!--begin::Left-->
            <!--end::Left-->
        </div>
        <!--end::Header-->
        <!--begin::Body-->
        <div class="card-body p-0">
            <!--begin::Header-->
            <div class="d-flex align-items-center justify-content-between flex-wrap card-spacer-x py-5">
                <!--begin::Title-->
                <div class="d-flex align-items-center mr-2 py-2">
                    <div class="font-weight-bold font-size-h3 mr-3">Başlıq: @Model.Subject</div>
                </div>
                <!--end::Title-->
            </div>
            <!--end::Header-->
            <!--begin::Messages-->
            <div class="mb-3">
                <div class="cursor-pointer shadow-xs toggle-on" data-inbox="message">
                    <!--begin::Message Heading-->
                    <div class="d-flex card-spacer-x py-6 flex-column flex-md-row flex-lg-column flex-xxl-row justify-content-between">
                        <div class="d-flex align-items-center">
                            <div class="d-flex flex-column flex-grow-1 flex-wrap mr-2">
                                <div class="d-flex">
                                    <a href="#" class="font-size-lg font-weight-bolder text-dark-75 text-hover-primary mr-2">@Model.NameSurname</a>
                                    <div class="font-weight-bold text-muted">
                                        <span class="label label-success label-dot mr-2"></span>
                                    </div>
                                </div>
                                <div class="d-flex flex-column">
                                    <div class="toggle-off-item">
                                        <span class="font-weight-bold text-muted cursor-pointer" data-toggle="dropdown">
                                            @Model.Email
                                        </span>
                                    </div>
                                    <div class="text-muted font-weight-bold toggle-on-item" data-inbox="toggle">With resrpect, i must disagree with Mr.Zinsser. We all know the most part of important part....</div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex my-2 my-xxl-0 align-items-md-center align-items-lg-start align-items-xxl-center flex-column flex-md-row flex-lg-column flex-xxl-row">
                            <div class="font-weight-bold text-muted mx-2">@Model.InsertDate.ToString("dd-MMM-yyyy HH:mm")</div>
                        </div>
                    </div>
                    <!--end::Message Heading-->
                    <div class="card-spacer-x py-3 toggle-off-item">
                        <hr />
                        <br />
                        <h4><strong>İstifadəçi Müraciəti:</strong></h4> <br />
                        @Model.Message
                    </div>

                    @if (!string.IsNullOrEmpty(Model.ResponsMessage))
                    {
                        <div class="card-spacer-x py-3 toggle-off-item">
                            <hr />
                            <br />
                            <h4><strong>Göndərilmiş Cavab mətni:</strong></h4> <br />
                            @Model.ResponsMessage
                        </div>
                    }
                </div>
            </div>
            <!--end::Messages-->
            <!--begin::Reply-->
            @if (string.IsNullOrEmpty(Model.ResponsMessage))
            {
                <div class="card-spacer mb-3" id="kt_inbox_reply">
                    <div class="card card-custom shadow-sm">
                        <div class="card-body p-0">
                            <!--begin::Form-->
                            <form id="kt_inbox_reply_form" asp-action="SendEmail" asp-controller="Contact" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" name="messageID" value="@Model.ID" />
                                <input type="hidden" name="Email" value="@Model.Email" />
                                <!--begin::Body-->
                                <div class="d-block">
                                    <!--begin::To-->
                                    <div class="d-flex align-items-center border-bottom inbox-to px-8 min-h-50px">
                                        <div class="text-dark-50 w-75px">Kimə:</div>
                                        <div class="d-flex align-items-center flex-grow-1">
                                            <input type="email" class="form-control border-0" required disabled value="@Model.Email">
                                        </div>
                                    </div>
                                    <!--end::To-->
                                    <!--begin::Subject-->
                                    <div class="border-bottom">
                                        <input class="form-control border-0 px-8 min-h-45px" name="Subject" placeholder="Başlıq" required>
                                    </div>
                                    <!--end::Subject-->
                                    <!--begin::Attachments-->
                                    <div class="border-bottom">
                                        <textarea class="form-control border-0 px-8 min-h-45px" name="Message" placeholder="Mənt" required></textarea>
                                    </div>
                                    <!--end::Attachments-->
                                </div>
                                <!--end::Body-->
                                <!--begin::Footer-->
                                <div class="d-flex align-items-center justify-content-between py-5 pl-8 pr-5 border-top">
                                    <!--begin::Actions-->
                                    <div class="d-flex align-items-center mr-3">
                                        <!--begin::Send-->
                                        <div class="btn-group mr-4">
                                            <button type="submit" class="btn btn-primary font-weight-bold px-6">Cavabla</button>
                                        </div>
                                        <!--end::Send-->
                                    </div>
                                    <!--end::Actions-->
                                </div>
                                <!--end::Footer-->
                            </form>
                            <!--end::Form-->
                        </div>
                    </div>
                </div>

            }
            <!--end::Reply-->
        </div>
        <!--end::Body-->
    </div>
    <!--end::Card-->
</div>