@model IEnumerable<Resume.Models.Entities.Sosial>

@{
    ViewData["Title"] = "Sosial hesablar";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<p>
    <a asp-action="Create" class="btn btn-outline-success">Əlavə Et</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                İcon
            </th>
            <th>
                Səhifə adı
            </th>
            <th>
                URL
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.Raw(item.Icon)
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    <a href="@item.PageURL">URL</a>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@IDAncryption.Encrypt(item.ID.ToString())"><i class="fas fa-edit test" style="color:green"></i></a> |
                    <a asp-action="Delete" asp-route-id="@IDAncryption.Encrypt(item.ID.ToString())" title="Sil"><i class="fas fa-trash-alt" style="color:red"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
