@model IEnumerable<Resume.Models.Entities.Education>

@{
    ViewData["Title"] = "Təhsil";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<p>
    <a asp-action="Create" class="btn btn-outline-success">Əlavə Et</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Təhsil Mərkəzi
            </th>
            <th>
                Başlama vaxtı
            </th>
            <th>
               Bitirmə vaxtı
            </th>
            <th>
               Fakultə
            </th>
            <th>
                İxtisas
            </th>
            <th>
                Açıqlama
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.EducationCenter
                </td>
                <td>
                    @item.StartDate.ToString("dd-MM-yyyy")
                </td>
                <td>
                    @item.EndDate.ToString("dd-MM-yyyy")
                </td>
                <td>
                    @item.Faculty
                </td>
                <td>
                    @item.Specialty
                </td>
                <td>
                    @item.Description
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID" class="text-success" title="Düzəliş et"><i class="fas fa-edit"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.ID" class="text-danger" title="Sil"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
