@model IEnumerable<Resume.Models.Entities.Experience>

@{
    ViewData["Title"] = "Təcrübə";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<p>
    <a asp-action="Create" class="btn btn-outline-success">Əlavə Et</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Müəssisə
            </th>
            <th>
                Başlama
            </th>
            <th>
                Bitirmə
            </th>
            <th>
                Mövqey
            </th>
            <th>
                Açıqlama
            </th>
            <th>
                Tarix tipi
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Company
                </td>
                <td style="width:120px">
                    @item.StartDate.ToString("dd-MM-yyyy")
                </td>
                <td style="width:120px">
                    @if (item.Present)
                    {
                        <span>dəvam edir</span>
                    }
                    else
                    {
                        @item.EndDate.ToString("dd-MM-yyyy")
                    }
                </td>
                <td>
                    @item.Position
                </td>
                <td>
                    @item.Description
                </td>
                <td style="width:100px">
                    @if (item.ShowDay)
                    {
                        <span>Gün.</span>
                    }
                    @if (item.ShowMonth)
                    {
                        <span>Ay.</span>
                    }
                    @if (item.ShowYear)
                    {
                        <span>İl</span>
                    }
                </td>
                <td style="width:70px">
                    <a asp-action="Edit" asp-route-id="@item.ID" title="Düzəliş et"><i class="fas fa-edit test" style="color:green"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.ID" title="Sil"><i class="fas fa-trash-alt" style="color:red"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
