@model Resume.Models.Entities.ControllerActionUser

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ControllerActionUser</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ControllerNames)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ControllerNames.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActiomNames)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActiomNames.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.ID)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
