@model Resume.Areas.Admin.Models.ViewModels.ActionCotrollerUserRelationship

@{
    ViewData["Title"] = "Əlaqə - Düzəliş Et";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<h4>Əlaqə - Düzəliş Et</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" class="form-disable">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="UserID" value="@ViewBag.userID" />
            <div class="form-group">
                <div class="checkbox-list" style="margin-left:25px">
                    <label class="control-label text-danger" style="margin-left:25px; margin-bottom:5px; color:red"><strong>Controllerlər</strong></label>
                    @foreach (var controller in ViewBag.ControllerID)
                    {
                        <div class="text-xl-left border border-3" style="margin-left:25px; margin-bottom:5px; background-color:whitesmoke">
                            @if (Model.controllerActionUsers.FirstOrDefault(x => x.ControllerID == controller.ID) == null)
                            {
                                <label class="checkbox">
                                    <input type="checkbox" name="controllerID" value="@controller.ID">
                                    <span></span>@controller.Name
                                </label>
                                <div class="text-xl-left border border-3" style="margin-left:65px;">
                                    <label class="control-label text-danger" style="color:red"><strong>Metodlar</strong></label>
                                    @foreach (var action in ViewBag.ActionID)
                                    {
                                        if (action.ControllerNamesID == controller.ID)
                                        {
                                            if (Model.actionUsers.FirstOrDefault(x => x.ActionID == action.ID) == null)
                                            {
                                                <label class="checkbox">
                                                    <input type="checkbox" name="actionID" value="@action.ID">
                                                    <span></span>@action.Name
                                                </label>
                                            }
                                            else
                                            {
                                                <label class="checkbox">
                                                    <input type="checkbox" name="actionID" value="@action.ID" checked>
                                                    <span></span>@action.Name
                                                </label>
                                            }
                                        }
                                    }
                                </div>
                            }
                            else
                            {
                                <label class="checkbox">
                                    <input type="checkbox" name="controllerID" value="@controller.ID" checked>
                                    <span></span>@controller.Name
                                </label>
                                <div class="text-xl-left border border-3" style="margin-left:65px;">
                                    <label class="control-label text-danger" style="color:red"><strong>Metodlar</strong></label>
                                    @foreach (var action in ViewBag.ActionID)
                                    {
                                        if (action.ControllerNamesID == controller.ID)
                                        {
                                            if (Model.actionUsers.FirstOrDefault(x => x.ActionID == action.ID) == null)
                                            {
                                                <label class="checkbox">
                                                    <input type="checkbox" name="actionID" value="@action.ID">
                                                    <span></span>@action.Name
                                                </label>
                                            }
                                            else
                                            {
                                                <label class="checkbox">
                                                    <input type="checkbox" name="actionID" value="@action.ID" checked>
                                                    <span></span>@action.Name
                                                </label>
                                            }
                                        }
                                    }
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>
            <div class="form-group">
                <input id="submit" data-submit-value="GÖZLƏYİN..." type="submit" value="Yadda Saxla" class="btn btn-outline-primary">
                <a asp-action="Index" class="btn btn-dark">Geri</a>
            </div>
        </form>
    </div>
</div>



<script>
    $('.form-disable').on('submit', function () {
        var self = $(this),
            button = self.find('input[type=submit],button'),
            submitValue = button.data('submit-value');
        button.attr('disabled', 'disabled').val((submitValue) ? submitValue : 'GÖZLƏYİN...');
    });
</script>