@model IEnumerable<Resume.Models.Entities.ControllerActionUser>

@{
    ViewData["Title"] = "Əlaqə - Düzəliş Et";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<h4>Əlaqə - Düzəliş Et</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" class="form-disable">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="UserID" value="@ViewBag.userID" />
            <div class="form-group">
                <label class="control-label">Controllerlər</label>
                <div class="checkbox-list">
                    @foreach (var item in ViewBag.ControllerID)
                    {
                        if (Model.FirstOrDefault(x => x.ControllerID == item.ID) == null)
                        {
                            <label class="checkbox">
                                <input type="checkbox" name="controllerID" value="@item.ID">
                                <span></span>@item.Name
                            </label>
                        }
                        else
                        {
                            <label class="checkbox">
                                <input type="checkbox" name="controllerID" value="@item.ID" checked>
                                <span></span>@item.Name
                            </label>
                        }
                    }
                </div>
            </div>
            <div class="form-group">
                <input id="submit" data-submit-value="GÖZLƏYİN..." type="submit" value="Yadda Saxla" class="btn btn-outline-primary">
                <a asp-action="Index" class="btn btn-dark">Geri</a>
            </div>
        </form>
    </div>
</div>



<script>
    $('.form-disable').on('submit', function () {
        var self = $(this),
            button = self.find('input[type=submit],button'),
            submitValue = button.data('submit-value');
        button.attr('disabled', 'disabled').val((submitValue) ? submitValue : 'GÖZLƏYİN...');
    });
</script>