@model Resume.Areas.Admin.ViewComponents.PortofiloAndCategories
@{
    Layout = null;
}
@using Resume.Business.Tools
<section id="portfolios" class="section">
    <div class="container">
        <!-- SECTION TITLE -->
        <div class="section-title">
            <h4 class="text-uppercase text-center"><img src="~/images/icons/safe.png" alt="demo">Portfellər (Portfolios)</h4>
        </div>
        <div id="portfolios-card" class="row">

            <!--OPTIONS-->
            <ul class="nav nav-tabs">
                @foreach (var item in Model.Categories)
                {
                    <li class="waves-effect list-shuffle"><a class="cate" href="Portfolios/@HeaderInURL.Change(item.Category.Trim())/@IDAncryption.Encrypt(item.ID.ToString())">@item.Category.Trim()</a></li>
                }
            </ul>

            <!--CATEGORIES CONTENT-->
            <div class="tab-content">
                @foreach (var item in Model.Portfolios)
                {
                    <!--CATEGORY CONTENT SIX SMALL-->
                    <div class="col-md-4 col-sm-6 col-xs-12 grid inLeft">
                        <figure class="port-effect-up">
                            <img src="@item.FotoURL" class="img-responsive" alt="@item.ID" />
                            <figcaption>
                                <h2>@item.Title</h2>
                                <p>@(item.Description.Length > 50 ? item.Description.Remove(50) + "..." : item.Description)</p>
                                <a href="~/Portfolio/@HeaderInURL.Change(item.Title.Trim())/@IDAncryption.Encrypt(item.ID.ToString())">Ətraflı baxış</a>
                            </figcaption>
                        </figure>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

