@model Resume.Models.Entities.Blog

@{
    ViewData["Title"] = "Blog - Sil";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<h3>Silinən məlumatlar geri qaytarılmır!</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Başlıq
        </dt>
        <dd class="col-sm-10">
            @Model.Title
        </dd>
        <dt class="col-sm-2">
            Mətn
        </dt>
        <dd class="col-sm-10">
            @Model.Text
        </dd>
        <dt class="col-sm-2">
            FotoURL
        </dt>
        <dd class="col-sm-10">
            @Model.FotoURL
        </dd>
        <dt class="col-sm-2">
            Tarix
        </dt>
        <dd class="col-sm-10">
            @Model.Datetime.ToString("dd-MM-yyyy")
        </dd>
        <dt class="col-sm-2">
            Kateqoriya
        </dt>
        <dd class="col-sm-10">
            @Model.BlogCategory.Category
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input id="submit" data-submit-value="GÖZLƏYİN..." type="submit" value="Sil" class="btn btn-outline-primary"> |
        <a asp-action="Index" class="btn btn-dark">Geri</a>
    </form>
</div>
