@model IEnumerable<Resume.Models.Entities.Blog>

@{
    ViewData["Title"] = "Blog";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<p>
    <a asp-action="Create" class="btn btn-outline-success">Əlavə Et</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Başlıq
            </th>
            <th>
                Mətn
            </th>
            <th>
                Tarix
            </th>
            <th>
                Kategoriya
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.Text
                </td>
                <td>
                    @item.Datetime.ToString("dd-MM-yyyy")
                </td>
                <td>
                    @item.BlogCategory.Category
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID" title="Düzəliş et"><i class="fas fa-edit test" style="color:green"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.ID" title="Sil"><i class="fas fa-trash-alt" style="color:red"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
