@model Resume.Models.Entities.Info

@{
    ViewData["Title"] = "Məlumatlar";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    string age = ((DateTime.Now - Model.BirthDate).TotalDays / 365.242199).ToString();
}


<div class="d-flex flex-row">
    <!--begin::Aside-->
    <div class="flex-row-auto offcanvas-mobile w-250px w-xxl-350px" id="kt_profile_aside">
        <!--begin::Profile Card-->
        <div class="card card-custom card-stretch">
            <!--begin::Body-->
            <div class="card-body pt-4">
                <!--begin::User-->
                <div class="d-flex align-items-center">
                    <div class="symbol symbol-60 symbol-xxl-100 mr-5 align-self-start align-self-xxl-center">
                        <div class="symbol-label" style="background-image:url('@("~/Upload/Images/" + Html.Raw(Model.FotoURL))')"></div>
                        @*<img src="" alt="Foto" />*@
                        <p> </p>
                        <img src="@("~/Upload/Images/" + Html.Raw(Model.FotoURL))" />
                        <i class="symbol-badge bg-success"></i>
                    </div>
                    <div>
                        <a href="#" class="font-weight-bolder font-size-h5 text-dark-75 text-hover-primary">@Model.Name @Model.Surname</a>
                        <div class="text-muted">@Model.Speciality</div>
                        <div class="mt-2">
                            <a href="/Admin/Contact" class="btn btn-sm btn-primary font-weight-bold mr-2 py-2 px-3 px-xxl-5 my-1" style="width: 100%">Mesajlar</a>
                            <a href="/Admin/UserRoleControl" class="btn btn-sm btn-success font-weight-bold py-2 px-3 px-xxl-5 my-1" style="width: 100%">İstifadəçi</a>
                            <a href="/Admin/Sosial" class="btn btn-sm btn-info font-weight-bold py-2 px-3 px-xxl-5 my-1" style="width: 100%">Sosial Şəbəkə</a>
                        </div>
                    </div>
                </div>
                <!--end::User-->
                <!--begin::Contact-->
                <div class="py-9">
                    <div class="d-flex align-items-center justify-content-between mb-2">
                        <span class="font-weight-bold mr-2">Email:</span>
                        <a class="text-muted text-hover-primary">@Model.Email</a>
                    </div>
                    <div class="d-flex align-items-center justify-content-between mb-2">
                        <span class="font-weight-bold mr-2">Telefon:</span>
                        <span class="text-muted">@Model.Telephone</span>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <span class="font-weight-bold mr-2">Adres:</span>
                        <span class="text-muted">@Model.Adress</span>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <span class="font-weight-bold mr-2">Yaş:</span>
                        <span class="text-muted">@age.Remove(2)</span>
                    </div>
                </div>
                <!--end::Contact-->
            </div>
            <!--end::Body-->
        </div>
        <!--end::Profile Card-->
    </div>
    <!--end::Aside-->
    <!--begin::Content-->
    <div class="flex-row-fluid ml-lg-8">
        <!--begin::Card-->
        <div class="card card-custom card-stretch">
            <form class="form" asp-action="Index" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ID" />
                <!--begin::Header-->
                <div class="card-header py-3">
                    <div class="card-title align-items-start flex-column">
                        <h3 class="card-label font-weight-bolder text-dark">Məlumatlar</h3>
                        <span class="text-muted font-weight-bold font-size-sm mt-1">Şəxsi məlumaylara dəyişiklik</span>
                    </div>
                    <div class="card-toolbar">
                        <button type="submit" class="btn btn-success mr-2">Yadda Saxla</button>
                    </div>
                </div>
                <!--end::Header-->
                <!--begin::Form-->
                <!--begin::Body-->
                <div class="card-body">

                    <div class="form-group row">
                        <label class="col-xl-2 col-lg-2 col-form-label">Foto</label>
                        <div class="col-lg-4 col-xl-4">
                            <input class="form-control form-control-lg form-control-solid" type="file" asp-for="Foto">
                            <span asp-validation-for="FotoURL" class="text-danger"></span>
                            <span class="text-danger">@(Model.FotoURL == null ? "" : Html.Raw(Model.FotoURL))</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xl-2 col-lg-2 col-form-label">Ad </label>
                        <div class="col-lg-4 col-xl-4">
                            <input class="form-control form-control-lg form-control-solid" type="text" value="@Model.Name" asp-for="Name" placeholder="Ad">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <label class="col-xl-2 col-lg-3 col-form-label">Soyad </label>
                        <div class="col-lg-4 col-xl-4">
                            <input class="form-control form-control-lg form-control-solid" type="text" value="@Model.Surname" asp-for="Surname" placeholder="Soyad">
                            <span asp-validation-for="Surname" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xl-2 col-lg-2 col-form-label">Doğum tarixi </label>
                        <div class="col-lg-4 col-xl-4">
                            <input class="form-control form-control-lg form-control-solid" type="date" value="@Model.BirthDate.ToString("yyyy-MM-dd")" asp-for="BirthDate">
                            <span asp-validation-for="BirthDate" class="text-danger"></span>
                        </div>
                        <label class="col-xl-2 col-lg-2 col-form-label">İxtisas/Peşə</label>
                        <div class="col-lg-4 col-xl-4">
                            <input class="form-control form-control-lg form-control-solid" type="text" value="@Model.Speciality" asp-for="Speciality" placeholder="İxtisas">
                            <span asp-validation-for="Speciality" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-xl-2"></label>
                        <div class="col-lg-4 col-xl-4">
                            <h5 class="font-weight-bold mt-10 mb-6">Əlaqə məlumatları</h5>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xl-2 col-lg-2 col-form-label">Telefon</label>
                        <div class="col-lg-4 col-xl-4">
                            <div class="input-group input-group-lg input-group-solid">
                                <input type="tel" class="form-control form-control-lg form-control-solid" value="@Model.Telephone" placeholder="Telefon" asp-for="Telephone">
                                <span asp-validation-for="Telephone" class="text-danger"></span>
                            </div>
                        </div>
                        <label class="col-xl-2 col-lg-2 col-form-label">Email</label>
                        <div class="col-lg-4 col-xl-4">
                            <div class="input-group input-group-lg input-group-solid">
                                <input type="email" class="form-control form-control-lg form-control-solid" value="@Model.Email" placeholder="Email" asp-for="Email">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xl-2 col-lg-2 col-form-label">Ünvan</label>
                        <div class="col-lg-4 col-xl-4">
                            <div class="input-group input-group-lg input-group-solid">
                                <input type="text" class="form-control form-control-lg form-control-solid" value="@Model.Adress" placeholder="Ünvan" asp-for="Adress">
                                <span asp-validation-for="Adress" class="text-danger"></span>
                            </div>
                        </div>
                        <label class="col-xl-2 col-lg-2 col-form-label">Kordinatlar</label>
                        <div class="col-lg-4 col-xl-4">
                            <div class="input-group input-group-lg input-group-solid">
                                <input type="text" class="form-control form-control-lg form-control-solid" value="@Model.Coordinates" placeholder="Kordinatlar" asp-for="Coordinates">
                            </div><span class="form-text text-muted">GoogleMap istifadə edilən zaman yazılmalıdır.</span>
                            <span asp-validation-for="Coordinates" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-xl-2"></label>
                        <div class="col-lg-4 col-xl-4">
                            <h5 class="font-weight-bold mt-10 mb-6">Profil</h5>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xl-2 col-lg-2 col-form-label">Haqqımda</label>
                        <div class="col-lg-10 col-xl-10">
                            <textarea id="editor" class="form-control form-control-lg form-control-solid" asp-for="Profil"></textarea>
                            <span asp-validation-for="Profil" class="text-danger"></span>
                        </div>

                    </div>

                </div>
                <!--end::Body-->
            </form>
            <!--end::Form-->
        </div>
    </div>
    <!--end::Content-->
</div>


<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

<script>
    tinymce.init({
        selector: '#editor',
        menubar: false,
        plugins: "link code emoticons hr lists charmap table media",
        external_plugins: { tiny_mce_wiris: 'https://www.wiris.net/demo/plugins/tiny_mce/plugin.js' },
        fontsize_formats: "8pt 10pt 12pt 13pt 14pt 18pt 24pt 36pt",
        toolbar1: 'undo redo  |  fontsizeselect | bold italic underline strikethrough | superscript subscript |bullist numlist | removeformat| alignleft aligncenter alignright alignjustify | forecolor | outdent indent | link emoticons charmap hr | code ',
        // enable automatic uploads of images represented by blob or data URIs
        automatic_uploads: true,
        // add custom filepicker only to Image dialog
        file_picker_types: 'image',
        file_picker_callback: function (cb, value, meta) {
            var input = document.createElement('input');
            input.setAttribute('type', 'file');
            input.setAttribute('accept', 'image/*');
            input.onchange = function () {
                var file = this.files[0];
                var reader = new FileReader();
                reader.onload = function () {
                    var id = 'blobid' + (new Date()).getTime();
                    var blobCache = tinymce.activeEditor.editorUpload.blobCache;
                    var base64 = reader.result.split(',')[1];
                    var blobInfo = blobCache.create(id, file, base64);
                    blobCache.add(blobInfo);
                    // call the callback and populate the Title field with the file name
                    cb(blobInfo.blobUri(), { title: file.name });
                };
                reader.readAsDataURL(file);
            };
            input.click();
        }
    });
</script>