@model Resume.Models.Entities.Portfolio

@{
    ViewData["Title"] = "Portfel - Sil";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h3>Silinən məlumatlar geri qaytarılmır!</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Başlıq
        </dt>
        <dd class="col-sm-10">
            @Model.Title
        </dd>
        <dt class="col-sm-2">
            Açıqlama
        </dt>
        <dd class="col-sm-10">
            @Model.Description
        </dd>
        <dt class="col-sm-2">
            Daxil edilmə Vaxtı
        </dt>
        <dd class="col-sm-10">
            @Model.InsertDate.ToString("dd-MM-yyyy")
        </dd>
        <dt class="col-sm-2">
            Bitmə Vaxtı
        </dt>
        <dd class="col-sm-10">
            @Model.EndDate.ToString("dd-MM-yyyy")
        </dd>
        <dt class="col-sm-2">
            Müştəri
        </dt>
        <dd class="col-sm-10">
            @Model.Client
        </dd>
        <dt class="col-sm-2">
            Proyekt URL adresi
        </dt>
        <dd class="col-sm-10">
            @Model.SiteURL
        </dd>
        <dt class="col-sm-2">
            Tip
        </dt>
        <dd class="col-sm-10">
            @Model.Type
        </dd>
        <dt class="col-sm-2">
            FotoURL
        </dt>
        <dd class="col-sm-10">
            @Model.FotoURL
        </dd>
        <dt class="col-sm-2">
            VideoURL
        </dt>
        <dd class="col-sm-10">
            @Model.VideoURL
        </dd>
        <dt class="col-sm-2">
            Kateqoriya
        </dt>
        <dd class="col-sm-10">
            @Model.PortfolioCategory.Category
        </dd>
    </dl>
    <form asp-action="Delete" class="form-disable">
        <input type="hidden" asp-for="ID" />
        <input id="submit" data-submit-value="GÖZLƏYİN..." type="submit" value="Sil" class="btn btn-outline-primary"> |
        <a asp-action="Index" class="btn btn-dark">Geri</a>
    </form>
</div>

<script>
    $('.form-disable').on('submit', function () {
        var self = $(this),
            button = self.find('input[type=submit],button'),
            submitValue = button.data('submit-value');
        button.attr('disabled', 'disabled').val((submitValue) ? submitValue : 'GÖZLƏYİN...');
    });
</script>