@model IEnumerable<Resume.Models.Entities.Portfolio>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-success">Əlavə Et</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Başlıq
            </th>
            <th>
                Proyetin icra müddəti
            </th>
            <th>
                Müştəri
            </th>
            <th>
                SiteURL
            </th>
            <th>
                Tip
            </th>
            <th>
                Kateqoriya
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @item.InsertDate.ToString("MM-yyyy") || @item.EndDate.ToString("MM-yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Client)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SiteURL)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PortfolioCategory.Category)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID" title="Düzəliş et"><i class="fas fa-edit test" style="color:green"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.ID" title="Ətraflı baxış"><i class="fas fa-info-circle" style="color:deeppink"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.ID" title="Sil"><i class="fas fa-trash-alt" style="color:red"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
