@model IEnumerable<Resume.Models.Entities.ActionNames>

@{
    ViewData["Title"] = "Action-lar";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<p>
    <a asp-action="Create" asp-route-id="@ViewBag.Controller" class="btn btn-outline-success">Əlavə Et</a>
    <a asp-action="Index" asp-controller="ControllerName" class="btn btn-outline-dark">Controller-lər</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Action
            </th>
            <th>
                Controller
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.ControllerNames.Name
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID" title="Düzəliş et"><i class="fas fa-edit test" style="color:green"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.ID" title="Sil"><i class="fas fa-trash-alt" style="color:red"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
